span.cm-slash-command {color: #90b;}
span.cm-bracket-command {color: #f51;}
span.cm-meta-command {color: #291;}
span.cm-option {color: #a70;}
span.cm-c-like-string {color: #a22;}
span.cm-c-like-preprocessor {color: #049;}
span.cm-c-like-var {color: #22b;}
span.cm-cast-ability {color: #22b;}
